

body {
    overflow: hidden;
    background: #F5F5F5;
    overflow-y: auto;
    font-family: var(--font-base);
    font-size: 14px;
}
body {
    padding: 0px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

    background-color: rgb(224, 222, 222);
}
.containerrr {
    padding: 0 7.5px;
    width: 100%;
    margin-right: 20px;
    margin-left: auto;
    display: grid;
   
   
}



.product-gridd {
    
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
 
   
}


.section_product_endow .tabs {
    padding: 0;
    margin-bottom: 25px;
    
    gap: 8px;
    row-gap: 8px;
    column-gap: 8px;
    padding-inline: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
ul {
    list-style: none outside;
}



.block-title h2 {
    color: var(--main-color);
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.title-module, .title-block-page {
    font-family: var(--font-title);
    font-size: 24px;
    line-height: 1.6;
    font-weight: bold;
    color: var(--text-color);
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-transform: uppercase;
}
.section_product_endow .block-title {
    margin-bottom: 20px;
}

.section_product_endow .product-grid {
    padding: 20px 10px 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
}
.white {
    background: #fff;
}
element.style {
    background-image: url(//bizweb.dktcdn.net/100/507/051/themes/936909/assets/endow_module_tag.png?1735287986531);
}
.section_product_endow .product-grid .label-tag {
    width: 121px;
    height: 110px;
    position: absolute;
    right: -5px;
    top: -5px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.section_product_endow .tabs {
    padding: 0;
    margin-bottom: 25px;
    display: grid
;
    gap: 8px;
    padding-inline: 16px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0;
}

ul {
    list-style: none outside;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.section_product_endow .block-title {
    margin-bottom: 10px;
    margin-left: 10px;
}
.block-title h2 {
    color: red;
    font-family: var(--font-base);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 0;
}
.tab{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
}
.tab a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
}
.section_product_endow .tabs {
    margin-bottom: 25px;
    margin-left: 10px;
    display: grid;
    gap: 8px;
    padding-inline: 16px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0;
}

.section_product_endow .tabs li.active, .section_product_endow .tabs li:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
}

.section_product_endow .tabs li {
    text-align: center;
    font-family: var(--font-base);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0 20px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    background-size: 300% 100%;
    border-radius: 50px;
}
[class*='col-'] {
    padding: 0 7.5px;
}
.section_product_endow .product-grid .item_product_main {
    margin-bottom: 0;
}
.item_product_main {

    position: relative;
    margin-bottom: 0px;
    overflow: hidden;
    background: #fff;
}
.grid-containerrr
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}
/*
.row img
{
    width: 200px;
    height: 214px;
    margin-bottom: 0;
}*/

form {
    margin: 0;
}

.item_product_main .label-sale {
    color: #F32A2A;
    font-size: 12px;
    border-radius: 0 20px 20px 0;
    position: absolute;
    font-family: var(--font-title);
    line-height: 24px;
    width: auto;
    height: 22px;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 99;
    background: #FEE71A;
    padding: 0 5px;
    font-weight: bold;
}

.item_product_main .action-cart {
    height: 25px;
    width: 25px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 99;
    margin-top: 6px;
}
.item_product_main .more-action {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: -2px;
    transition: all 0.4s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}

.item_product_main .price-box1 {
    color: #f72c0f;
    line-height: 23px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-right: 0px;
    margin-bottom: 0;
    padding: 0;
    font-family: var(--font-base);
    width: calc(100% - 35px);
    max-height: 40px;
}
.item_product_main .group-action {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    right: 0px;
    height: 5px;
    visibility: hidden;
    transition: all 0.3s;
    overflow: hidden;
}
.nowship1 {
    background: var(--now-icon);
    height: 24px;
    background-size: 25px 12px;
    background-repeat: no-repeat;
    line-height: 25px;
    padding-left: 28px;
    background-position: center left;
    font-size: 12px;
    color: #808089;
}
:root{

    --now-icon: url(//bizweb.dktcdn.net/100/507/051/themes/936909/assets/nowship.png?1735287986531);
}
.price-action .price b{
    margin-top: 0;
     color: red;
}
.price-action1 .compare-price1{
    text-decoration: line-through;
    color: grey;
    margin-bottom: 0;
}
.section_product_endow .button-default {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    color: var(--text-color);
    margin: 0px auto 10px;
    display: inline-block;
    font-size: 14px;
}
 .button-default {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 30px;
    transition: all 0.3s;
}

a {
    text-decoration: none;
}
.col-12 text-center {
    text-align: center !important;
}
.more-action svg .icon{
    width: 25px;
    height: 25px;
    fill:rgb(101, 97, 97);
}
svg  .icon{
    float: right;
    width: 40px;
    height: 40px;
}